<form action="/favourite-list" method="post">
                            <button class="bg-blue-400 hover:bg-blue-600 rounded-sm p-1 mt-2" type="submit">Add to Favourite</button>
                            <input type="hidden" name="homeId" value="<%= home._id%>">
                    </form>